In [1]:
#3 Create a data frame having at least 3 columns and 50 rows to store numeric data generated using a random function. 
#Replace 10% of the values by null values whose index positions are generated using random function.
import numpy as np

In [2]:
import pandas as pd

In [3]:
df = pd.DataFrame(np.random.randint(0,100,size=(50, 3)), columns=list('ABC'))

In [4]:
df

     A   B   C
0   34  94  91
1   79  65  86
2   68   1  27
3   26  37  71
4   98  29  49
5   79  31  78
6   34  35   1
7   11  72  58
8   35  40   7
9   46  22  47
10  44  61  69
11  58  71  79
12  58  16  99
13  91  29  28
14  42  99   4
15   3  88  42
16  30  24  37
17  31   4  80
18  35  92  28
19  69   7  39
20  38   7  98
21  29  27  77
22  53  41  87
23  49  13  53
24  24  70  60
25  17  78  78
26  79   2  10
27  77  84  70
28   8   6  68
29  74  63  96
30  51  50  62
31  10  96  11
32  91  96  64
33  81  48  91
34  84  65  55
35  39   8  30
36  81  96  86
37  32   4  86
38  50  98  73
39  82  25  18
40  84  49  64
41  66  25  27
42   9  74  30
43  67  73   3
44  43  82  60
45  23  67  19
46  57   6  67
47  12  11  59
48  59   2  30
49   0  76  45

In [5]:
for col in df.columns:
    df.loc[df.sample(frac=0.1).index, col] = np.nan

In [6]:
df

       A     B     C
0   34.0   NaN  91.0
1   79.0  65.0  86.0
2   68.0   1.0  27.0
3   26.0  37.0  71.0
4   98.0  29.0  49.0
5   79.0  31.0  78.0
6   34.0  35.0   1.0
7   11.0  72.0  58.0
8   35.0   NaN   7.0
9   46.0  22.0  47.0
10  44.0  61.0  69.0
11  58.0  71.0   NaN
12  58.0  16.0  99.0
13  91.0  29.0  28.0
14  42.0  99.0   NaN
15   NaN  88.0  42.0
16  30.0  24.0  37.0
17  31.0   4.0  80.0
18  35.0  92.0  28.0
19  69.0   7.0  39.0
20  38.0   7.0  98.0
21  29.0  27.0  77.0
22  53.0  41.0  87.0
23  49.0  13.0   NaN
24  24.0  70.0  60.0
25  17.0  78.0   NaN
26   NaN   NaN  10.0
27   NaN  84.0  70.0
28   NaN   6.0  68.0
29  74.0  63.0  96.0
30  51.0  50.0  62.0
31  10.0  96.0  11.0
32  91.0  96.0  64.0
33  81.0  48.0  91.0
34  84.0   NaN  55.0
35  39.0   8.0  30.0
36   NaN  96.0  86.0
37  32.0   4.0   NaN
38  50.0   NaN  73.0
39  82.0  25.0  18.0
40  84.0  49.0  64.0
41  66.0  25.0  27.0
42   9.0  74.0  30.0
43  67.0  73.0   3.0
44  43.0  82.0  60.0
45  23.0  67.0  19.0
46  57.0   6.0  67.0
47  12.0  11.0  59.0
48  59.0   2.0  30.0
49   0.0  76.0  45.0

In [7]:
#a. Identify and count missing values in a data frame.
missing_values = df.isnull() 
missing_values

        A      B      C
0   False   True  False
1   False  False  False
2   False  False  False
3   False  False  False
4   False  False  False
5   False  False  False
6   False  False  False
7   False  False  False
8   False   True  False
9   False  False  False
10  False  False  False
11  False  False   True
12  False  False  False
13  False  False  False
14  False  False   True
15   True  False  False
16  False  False  False
17  False  False  False
18  False  False  False
19  False  False  False
20  False  False  False
21  False  False  False
22  False  False  False
23  False  False   True
24  False  False  False
25  False  False   True
26   True   True  False
27   True  False  False
28   True  False  False
29  False  False  False
30  False  False  False
31  False  False  False
32  False  False  False
33  False  False  False
34  False   True  False
35  False  False  False
36   True  False  False
37  False  False   True
38  False   True  False
39  False  False  False
40  False  False  False
41  False  False  False
42  False  False  False
43  False  False  False
44  False  False  False
45  False  False  False
46  False  False  False
47  False  False  False
48  False  False  False
49  False  False  False

In [8]:
missing_count = missing_values.sum()
missing_count

A    5
B    5
C    5
dtype: int64

In [9]:
df.isna()

        A      B      C
0   False   True  False
1   False  False  False
2   False  False  False
3   False  False  False
4   False  False  False
5   False  False  False
6   False  False  False
7   False  False  False
8   False   True  False
9   False  False  False
10  False  False  False
11  False  False   True
12  False  False  False
13  False  False  False
14  False  False   True
15   True  False  False
16  False  False  False
17  False  False  False
18  False  False  False
19  False  False  False
20  False  False  False
21  False  False  False
22  False  False  False
23  False  False   True
24  False  False  False
25  False  False   True
26   True   True  False
27   True  False  False
28   True  False  False
29  False  False  False
30  False  False  False
31  False  False  False
32  False  False  False
33  False  False  False
34  False   True  False
35  False  False  False
36   True  False  False
37  False  False   True
38  False   True  False
39  False  False  False
40  False  False  False
41  False  False  False
42  False  False  False
43  False  False  False
44  False  False  False
45  False  False  False
46  False  False  False
47  False  False  False
48  False  False  False
49  False  False  False

In [10]:
#b. Drop the column having more than 5 null values.
df.dropna(thresh=len(df) - 5, axis=1)

       A     B     C
0   34.0   NaN  91.0
1   79.0  65.0  86.0
2   68.0   1.0  27.0
3   26.0  37.0  71.0
4   98.0  29.0  49.0
5   79.0  31.0  78.0
6   34.0  35.0   1.0
7   11.0  72.0  58.0
8   35.0   NaN   7.0
9   46.0  22.0  47.0
10  44.0  61.0  69.0
11  58.0  71.0   NaN
12  58.0  16.0  99.0
13  91.0  29.0  28.0
14  42.0  99.0   NaN
15   NaN  88.0  42.0
16  30.0  24.0  37.0
17  31.0   4.0  80.0
18  35.0  92.0  28.0
19  69.0   7.0  39.0
20  38.0   7.0  98.0
21  29.0  27.0  77.0
22  53.0  41.0  87.0
23  49.0  13.0   NaN
24  24.0  70.0  60.0
25  17.0  78.0   NaN
26   NaN   NaN  10.0
27   NaN  84.0  70.0
28   NaN   6.0  68.0
29  74.0  63.0  96.0
30  51.0  50.0  62.0
31  10.0  96.0  11.0
32  91.0  96.0  64.0
33  81.0  48.0  91.0
34  84.0   NaN  55.0
35  39.0   8.0  30.0
36   NaN  96.0  86.0
37  32.0   4.0   NaN
38  50.0   NaN  73.0
39  82.0  25.0  18.0
40  84.0  49.0  64.0
41  66.0  25.0  27.0
42   9.0  74.0  30.0
43  67.0  73.0   3.0
44  43.0  82.0  60.0
45  23.0  67.0  19.0
46  57.0   6.0  67.0
47  12.0  11.0  59.0
48  59.0   2.0  30.0
49   0.0  76.0  45.0

In [11]:
#c. Identify the row label having maximum of the sum of all values in a row and drop that row.
# calculate the row sums and find the index of the row with the maximum sum
max_sum_row_idx = df.sum(axis=1).idxmax()

# find the row label with the maximum sum of values in a row
max_sum_row_label = df.sum(axis=1).idxmax()

# print the row label and its sum
print("Row label with maximum sum of values:", max_sum_row_label)
print("Sum of values in the row:", df.sum(axis=1)[max_sum_row_label])

# drop the row with the maximum sum of values
df = df.drop(index=max_sum_row_label)

# print the resulting data frame
print(df)

Row label with maximum sum of values: 32
Sum of values in the row: 251.0
       A     B     C
0   34.0   NaN  91.0
1   79.0  65.0  86.0
2   68.0   1.0  27.0
3   26.0  37.0  71.0
4   98.0  29.0  49.0
5   79.0  31.0  78.0
6   34.0  35.0   1.0
7   11.0  72.0  58.0
8   35.0   NaN   7.0
9   46.0  22.0  47.0
10  44.0  61.0  69.0
11  58.0  71.0   NaN
12  58.0  16.0  99.0
13  91.0  29.0  28.0
14  42.0  99.0   NaN
15   NaN  88.0  42.0
16  30.0  24.0  37.0
17  31.0   4.0  80.0
18  35.0  92.0  28.0
19  69.0   7.0  39.0
20  38.0   7.0  98.0
21  29.0  27.0  77.0
22  53.0  41.0  87.0
23  49.0  13.0   NaN
24  24.0  70.0  60.0
25  17.0  78.0   NaN
26   NaN   NaN  10.0
27   NaN  84.0  70.0
28   NaN   6.0  68.0
29  74.0  63.0  96.0
30  51.0  50.0  62.0
31  10.0  96.0  11.0
33  81.0  48.0  91.0
34  84.0   NaN  55.0
35  39.0   8.0  30.0
36   NaN  96.0  86.0
37  32.0   4.0   NaN
38  50.0   NaN  73.0
39  82.0  25.0  18.0
40  84.0  49.0  64.0
41  66.0  25.0  27.0
42   9.0  74.0  30.0
43  67.0  73.0   3.0
44  43.0  82.0  60.0
45  23.0  67.0  19.0
46  57.0   6.0  67.0
47  12.0  11.0  59.0
48  59.0   2.0  30.0
49   0.0  76.0  45.0

In [12]:
#d. Sort the data frame on the basis of the first column.

In [18]:
#e. remove all the duplicates from the first column
df.drop_duplicates(subset='A', inplace=True)
df

       A     B     C
0   34.0   NaN  91.0
1   79.0  65.0  86.0
2   68.0   1.0  27.0
3   26.0  37.0  71.0
4   98.0  29.0  49.0
7   11.0  72.0  58.0
8   35.0   NaN   7.0
9   46.0  22.0  47.0
10  44.0  61.0  69.0
11  58.0  71.0   NaN
13  91.0  29.0  28.0
14  42.0  99.0   NaN
15   NaN  88.0  42.0
16  30.0  24.0  37.0
17  31.0   4.0  80.0
19  69.0   7.0  39.0
20  38.0   7.0  98.0
21  29.0  27.0  77.0
22  53.0  41.0  87.0
23  49.0  13.0   NaN
24  24.0  70.0  60.0
25  17.0  78.0   NaN
29  74.0  63.0  96.0
30  51.0  50.0  62.0
31  10.0  96.0  11.0
33  81.0  48.0  91.0
34  84.0   NaN  55.0
35  39.0   8.0  30.0
37  32.0   4.0   NaN
38  50.0   NaN  73.0
39  82.0  25.0  18.0
41  66.0  25.0  27.0
42   9.0  74.0  30.0
43  67.0  73.0   3.0
44  43.0  82.0  60.0
45  23.0  67.0  19.0
46  57.0   6.0  67.0
47  12.0  11.0  59.0
48  59.0   2.0  30.0
49   0.0  76.0  45.0

In [19]:
#f.Find the correlation between first and second column and covariance between second and third column.
corr = df['A'].corr(df['B'])
print(f"\nCorrelation between A and B: {corr}")

# calculate the covariance between the second and third column
cov = df['B'].cov(df['B'])
print(f"Covariance between B and C: {cov}")

Correlation between A and B: -0.2800279495494618
Covariance between B and C: 960.3325396825397

In [21]:
#g. Discretize the second column and create 5 bins.
pd.cut(df['B'],
       bins=[0, 2.5, 3, 3.25, 3.5, 3.75, 4], 
       labels=["Very bad", "Bad", "Average", "good", "Very good", "Excellent"])

0           NaN
1           NaN
2      Very bad
3           NaN
4           NaN
7           NaN
8           NaN
9           NaN
10          NaN
11          NaN
13          NaN
14          NaN
15          NaN
16          NaN
17    Excellent
19          NaN
20          NaN
21          NaN
22          NaN
23          NaN
24          NaN
25          NaN
29          NaN
30          NaN
31          NaN
33          NaN
34          NaN
35          NaN
37    Excellent
38          NaN
39          NaN
41          NaN
42          NaN
43          NaN
44          NaN
45          NaN
46          NaN
47          NaN
48     Very bad
49          NaN
Name: B, dtype: category
Categories (6, object): ['Very bad' < 'Bad' < 'Average' < 'good' < 'Very good' < 'Excellent']